<div class="row">
   <h1>{{ label }}</h1>
</div>
<div class="row">
    <div class="upper">
    <div class="col-md-8 col-sm-12 left">
        {{ content.field_image }}
    </div>
    <div class="col-md-4 col-sm-12 right">
        <div class="row">
                {{ content.field_parametry }}
            <span class="files">{{ content.field_files }}</span>
            <br>
            <br>
            <div class="green">
                {{ content.field_buy }}
            </div>

        </div>
    </div>
    </div>
    <div class="lower">
    <div class="col-md-12">
        {{ content.body }}
    </div>
    </div>
</div>