{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% if language == 'cs' %}
{{ title_prefix }}
{% if label %}
<h3 class="block-title">{{ label }}</h3>
{% endif %}
{{ title_suffix }}
<div class="block-inner">



    <p class="text-align-center uprclas">&nbsp;</p>

    <div id="references" class="references-top">
        <h2 class="block-title">Reference</h2>

        <p class="margin-helper text-align-center"></p>

        <div class="references">

          <div class="mobile-only">

            <div class="row">

              <a role="button" data-toggle="collapse" href="#mcsx1" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="MOL - Native PR" src="/sites/default/files/rf_cache/1.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>

              <div class="row b-b">
              <div class="collapse" id="mcsx1">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsx2" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Wustenrot - Native PR" src="/sites/default/files/rf_cache/2.png" />
                    <div class="but"></div >
                  </div>
                </div>
              </a>

              <div class="row b-b">
              <div class="collapse" id="mcsx2">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsx3" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Mondi - Native PR" src="/sites/default/files/rf_cache/4.png" />
                    <div class="but"></div >
                  </div>
                </div>
              </a>

              <div class="row b-b">
              <div class="collapse" id="mcsx3">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsxx4" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Saxo Bank - Native PR" src="/sites/default/files/rf_cache/6.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>
            </div>

            <div class="row b-b">
            <div class="collapse" id="mcsx4">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>
            </div>

            <div class="row">

              <a role="button" data-toggle="collapse" href="#mcsx5" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="McDonalds - Native PR" src="/sites/default/files/rf_cache/9.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>


              <div class="row b-b">
              <div class="collapse" id="mcsx5">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsxx6" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Moneta - Native PR" src="/sites/default/files/rf_cache/10.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>


              <div class="row b-b">
              <div class="collapse" id="mcsx6">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsxx7" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Czech Airlines - Native PR" src="/sites/default/files/rf_cache/11.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>


              <div class="row b-b">
              <div class="collapse" id="mcsx7">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsxx8" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Siemens - Native PR" src="/sites/default/files/rf_cache/12.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>
            </div>


            <div class="row b-b">
            <div class="collapse" id="mcsx8">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>
            </div>

            <div class="row">

              <a role="button" data-toggle="collapse" href="#mcsxx9" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="LG - Native PR" src="/sites/default/files/rf_cache/19.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>

              <div class="row b-b">
              <div class="collapse" id="mcsx9">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              </div>

              <a role="button" data-toggle="collapse" href="#mcsxx10" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Pfizer - Native PR" src="/sites/default/files/rf_cache/21.png" />
                    <div class="but">&nbsp;</div >
                  </div>
                </div>
              </a>

              <div class="row b-b">
              <div class="collapse" id="mcsx10">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              </div>


              <a role="button" data-toggle="collapse" href="#mcsxx11" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Tesco - Native PR" src="/sites/default/files/rf_cache/22.png" />
                    <div class="but"> </div >
                  </div>
                </div>
              </a>

              <div class="row b-b">
              <div class="collapse" id="mcsx11">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              </div>

              <div class="col-sm-6 col-md-3 spc">
                <div class="inner">
                  ...a dalších více než<br>
                  <strong>100</strong><br>
                  klientů
                  &nbsp;
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </div>



          </div>
          <div class="desktop-only">

            <div class="row">

              <a role="button" data-toggle="collapse" href="#csx1" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="MOL - Native PR" src="/sites/default/files/rf_cache/1.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csx2" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Wustenrot - Native PR" src="/sites/default/files/rf_cache/2.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csx3" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Mondi - Native PR" src="/sites/default/files/rf_cache/4.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csxx4" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Saxo Bank - Native PR" src="/sites/default/files/rf_cache/6.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>
            </div>

            <div class="row b-b">

              <div class="collapse" id="csx1">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>>
                </div>
              </div>

              <div class="collapse" id="csx2">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx3">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx4">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <a role="button" data-toggle="collapse" href="#csx5" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="McDonalds - Native PR" src="/sites/default/files/rf_cache/9.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csxx6" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Moneta - Native PR" src="/sites/default/files/rf_cache/10.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csxx7" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Czech Airlines - Native PR" src="/sites/default/files/rf_cache/11.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csxx8" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Siemens - Native PR" src="/sites/default/files/rf_cache/12.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>
            </div>

            <div class="row b-b">

              <div class="collapse" id="csx5">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx6">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx7">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx8">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <a role="button" data-toggle="collapse" href="#csxx9" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="LG - Native PR" src="/sites/default/files/rf_cache/19.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csxx10" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Pfizer - Native PR" src="/sites/default/files/rf_cache/21.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <a role="button" data-toggle="collapse" href="#csxx11" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-6 col-md-3">
                  <div class="inner"><img alt="Tesco - Native PR" src="/sites/default/files/rf_cache/22.png" />
                    <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                  </div>
                </div>
              </a>

              <div class="col-sm-6 col-md-3 spc">
                <div class="inner">
                  ...a dalších více než<br>
                  <strong>100</strong><br>
                  klientů
                  &nbsp;
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </div>

            <div class="row b-b">

              <div class="collapse" id="csx9">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx10">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="collapse" id="csx11">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>


            </div>

          </div>



        </div>
    </div>

</div>

{% else %}

  {{ title_prefix }}
  {% if label %}
    <h2 class="block-title">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="block-inner">



    <p class="text-align-center uprclas">&nbsp;</p>

    <div id="references" class="references-top">
      <h3 class="block-title">References</h3>

      <p class="margin-helper text-align-center"></p>

      <div class="references">

        <div class="mobile-only">

          <div class="row">

            <a role="button" data-toggle="collapse" href="#mcsx1" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="MOL - Native PR" src="/sites/default/files/rf_cache/1.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>

            <div class="row b-b">
              <div class="collapse" id="mcsx1">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsx2" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Wustenrot - Native PR" src="/sites/default/files/rf_cache/2.png" />
                  <div class="but"></div >
                </div>
              </div>
            </a>

            <div class="row b-b">
              <div class="collapse" id="mcsx2">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsx3" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Mondi - Native PR" src="/sites/default/files/rf_cache/4.png" />
                  <div class="but"></div >
                </div>
              </div>
            </a>

            <div class="row b-b">
              <div class="collapse" id="mcsx3">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsxx4" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Saxo Bank - Native PR" src="/sites/default/files/rf_cache/6.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>
          </div>

          <div class="row b-b">
            <div class="collapse" id="mcsx4">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <a role="button" data-toggle="collapse" href="#mcsx5" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="McDonalds - Native PR" src="/sites/default/files/rf_cache/9.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>


            <div class="row b-b">
              <div class="collapse" id="mcsx5">
                <div class="well-med">
                  <div class="inner-wl">
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsxx6" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Moneta - Native PR" src="/sites/default/files/rf_cache/10.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>


            <div class="row b-b">
              <div class="collapse" id="mcsx6">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsxx7" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Czech Airlines - Native PR" src="/sites/default/files/rf_cache/11.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>


            <div class="row b-b">
              <div class="collapse" id="mcsx7">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsxx8" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Siemens - Native PR" src="/sites/default/files/rf_cache/12.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>
          </div>


          <div class="row b-b">
            <div class="collapse" id="mcsx8">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <a role="button" data-toggle="collapse" href="#mcsxx9" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="LG - Native PR" src="/sites/default/files/rf_cache/19.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>

            <div class="row b-b">
              <div class="collapse" id="mcsx9">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <a role="button" data-toggle="collapse" href="#mcsxx10" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Pfizer - Native PR" src="/sites/default/files/rf_cache/21.png" />
                  <div class="but">&nbsp;</div >
                </div>
              </div>
            </a>

            <div class="row b-b">
              <div class="collapse" id="mcsx10">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>


            <a role="button" data-toggle="collapse" href="#mcsxx11" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Tesco - Native PR" src="/sites/default/files/rf_cache/22.png" />
                  <div class="but"> </div >
                </div>
              </div>
            </a>

            <div class="row b-b">
              <div class="collapse" id="mcsx11">
                <div class="well-med">
                  <div class="inner-wl">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 spc">
              <div class="inner">
                ...and more than <br>
                <strong>100</strong><br>
                clients
                &nbsp;
                <div class="but">&nbsp;</div >
              </div>
            </div>
          </div>



        </div>
        <div class="desktop-only">

          <div class="row">

            <a role="button" data-toggle="collapse" href="#csx1" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="MOL - Native PR" src="/sites/default/files/rf_cache/1.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csx2" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Wustenrot - Native PR" src="/sites/default/files/rf_cache/2.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csx3" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Mondi - Native PR" src="/sites/default/files/rf_cache/4.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csxx4" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Saxo Bank - Native PR" src="/sites/default/files/rf_cache/6.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>
          </div>

          <div class="row b-b">

            <div class="collapse" id="csx1">
              <div class="well-med">
                <div class="inner-wl">
                </div>
              </div>
            </div>

            <div class="collapse" id="csx2">
              <div class="well-med">
                <div class="inner-wl">
                </div>
              </div>
            </div>

            <div class="collapse" id="csx3">
              <div class="well-med">
                <div class="inner-wl">
                </div>
              </div>
            </div>

            <div class="collapse" id="csx4">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <a role="button" data-toggle="collapse" href="#csx5" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="McDonalds - Native PR" src="/sites/default/files/rf_cache/9.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csxx6" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Moneta - Native PR" src="/sites/default/files/rf_cache/10.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csxx7" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Czech Airlines - Native PR" src="/sites/default/files/rf_cache/11.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csxx8" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Siemens - Native PR" src="/sites/default/files/rf_cache/12.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>
          </div>

          <div class="row b-b">

            <div class="collapse" id="csx5">
              <div class="well-med">
                <div class="inner-wl">
                </div>
              </div>
            </div>

            <div class="collapse" id="csx6">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="collapse" id="csx7">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="collapse" id="csx8">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <a role="button" data-toggle="collapse" href="#csxx9" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="LG - Native PR" src="/sites/default/files/rf_cache/19.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csxx10" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Pfizer - Native PR" src="/sites/default/files/rf_cache/21.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <a role="button" data-toggle="collapse" href="#csxx11" aria-expanded="false" aria-controls="collapseExample">
              <div class="col-sm-6 col-md-3">
                <div class="inner"><img alt="Tesco - Native PR" src="/sites/default/files/rf_cache/22.png" />
                  <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
                </div>
              </div>
            </a>

            <div class="col-sm-6 col-md-3 spc">
              <div class="inner">
                ...and more than<br>
                <strong>100</strong><br>
                clients
                &nbsp;
                <div class="but" data-target="#csx2" data-toggle="collapse" aria-expanded="false">&nbsp;</div >
              </div>
            </div>
          </div>

          <div class="row b-b">

            <div class="collapse" id="csx9">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="collapse" id="csx10">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="collapse" id="csx11">
              <div class="well-med">
                <div class="inner-wl">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
