{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% if language == 'cs' %}
{{ title_prefix }}
{% if label %}
<h3 class="block-title">{{ label }}</h3>
{% endif %}
{{ title_suffix }}
<div class="block-inner">
  <p class="text-align-center uprclas">&nbsp;</p>

  <div class="services container-fluid" id="services">
    <h2 class="block-title text-align-center">Široká nabídka služeb</h2>

    <p class="margin-helper text-align-center"></p>

    <div class="mobile-only">
      <div class="row">

        <a role="button" data-toggle="collapse" href="#msx1" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Komunikační strategie" src="/sites/default/files/rf/chat-icon.png" />
              <p><h3>Komunikační strategie</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx1">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Vytváříme účinné strategie k dosažení Vašich komunikačních cílů</h4>
              <p>Rozdílné komunikační cíle vyžadují rozdílná řešení. Dobré komunikační strategie pomáhají prodávat,umožňují získat a udržet špičkové zaměstnance, nebo třeba snížit riziko konfliktů se zájmovými skupinami, které mají na Vaše podnikání vliv. Na základě obchodních a podnikatelských záměrů pomáháme našim klientům definovat jejich komunikační cíle,analyzovat prostředí i cílové skupiny pro komunikaci  a navrhujeme vhodné strategie. </p>
            </div>
          </div>
        </div>
        </div>

        <a role="button" data-toggle="collapse" href="#msx2" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Komunikační kampaně" src="/sites/default/files/rf/fleshlight-icon.png" />
              <p><h3>Komunikační kampaně</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx2">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Vytváříme a realizujeme komunikační kampaně přesně na míru Vašim potřebám</h4>
              <p>Jsme lídrem v koncipování a realizaci komunikačních kampaní, které mění postoje a chování veřejnosti. Ať už je cílem Vaší komunikace stimulace celkové poptávky, změna chování zákazníků nebo třeba získání veřejné podpory  pro úpravu legislativy regulující Váš sektor podnikání, navrhneme Vám celkový koncept kampaně, design jejích jednotlivých prvků a zajistíme realizaci všech kreativních řešení.</p>
            </div>
          </div>
        </div>
        </div>

        <a role="button" data-toggle="collapse" href="#msx3" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Content management" src="/sites/default/files/rf/message-icon.png" />
              <p><h3>Content management</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx3">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Vyprávíme příběhy našich zákazníků</h4>
              <p>Vyprávění silných příběhů je nejlepším způsobem, jak si v dnešním přeinformovaném světě získat skutečnou pozornost lidí. Dobrý příběh vytváří emocionální zapojení a vede spotřebitele k zaujetí stanoviska a následné akci. Hledáme mimořádné příběhy. Hledáme cesty a aktivity, jak je co nejlépe vytěžit pro naše zákazníky. Vyprávíme příběhy prostřednictvím všech relevantních kanálů a pomáháme organizacím,aby se příběh stal nedílnou součástí jejich života.</p>
            </div>
          </div>
        </div>
        </div>

        <a role="button" data-toggle="collapse" href="#msx4" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Firemní komunikace" src="/sites/default/files/rf/fir_kom.png" />
              <p><h3>Firemní komunikace</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx4">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Pomáháme firmám budovat a rozvíjet vztahy se všemi skupinami partnerů a decision makerů</h4>
              <p>Budování a rozvoj vztahů s různými externími stakeholdery vyžadují pochopení jejich zájmů a očekávání a následnou Maximalizujeme přínosy vnějších vztahů tím, že pomáháme a vedou rozvoj strategií a akčních plánů, od informačních kampaní až po řízení vztahů.</p>
            </div>
          </div>
        </div>
        </div>

      </div>

      <div class="row">


        <a role="button" data-toggle="collapse" href="#msx5" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Krizová komunikace" src="/sites/default/files/rf/sound-icon.png" />
              <p><h3>Krizová komunikace</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx5">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Pomáháme klientům zvládnout krizovou situaci s minimálními dopady na jejich pověst</h4>
              <p>Špatně řízená krize může zničit roky budovanou pověst vaší organizace za jediný den. Pomáháme klientům předcházet krizím, připravovat se na ně, reagovat na ně a komunikovat o nich. S našimi klienty jsme úspěšně prošli již desítkami větších či menších krizových situací a víme, jak je v rovině komunikace správně řešit.  Máme řadu zkušeností s přípravou krizových komunikačních plánů, tréninkem managementu či organizováním krizových simulací. A když ke krizové situaci skutečně dojde, pomáháme ji zvládat v reálném čase prostřednictvím naší 24/7 krizové linky a zkušeného krizového týmu, který je na tento typ práce speciálně vyškolený a připravený.
                <br>
                Potřebujete pomoc právě teď? Volejte naší 24/7 krizovou linku: +420603574650 </p>
            </div>
          </div>
        </div>
        </div>

        <a role="button" data-toggle="collapse" href="#msx6" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Reputation management" src="/sites/default/files/rf/rep_rizik.png" />
              <p><h3>Reputation management</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx6">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Budování pověsti a řízení reputačních rizik </h4>
              <p>V době sociálních sítí, zvýšené angažovanosti jejich uživatelů  a extrémně rychlého sdílení informací mezi lidmi se otázka dobré pověsti  stala významnější, než kdykoliv předtím. Vaše pověst dnes může výrazně pomoci k dosažení obchodních cílů, nebo  jejich naplnění naopak  zcela znemožnit. Máme širokou škálu služeb, které vám pomohou při budování vaší reputace na místní i celorepublikové úrovni. Pro naše zákazníky navrhujeme a realizujeme dlouhodbé komunikační programy zaměřené na posílení dobré pověsti a omezení reputačních rizik. V těchto programech integrujeme tradiční média i sociální sítě. Pomůžeme Vám identifikovat hlavní opinion makery a navázat s nimi nejvhodnější způsob komunikace. </p>
            </div>
          </div>
        </div>
        </div>

        <a role="button" data-toggle="collapse" href="#msx7" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Media relations" src="/sites/default/files/rf/sound-icon.png" />
              <p><h3>Media relations</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx7">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Pomáháme klientům efektivně využívat média pro jejich komunikační potřeby</h4>
              <p>Zajišťujeme efektivní prezentaci v hromadných sdělovacích prostředcích a budujeme dlouhodobé vztahy s příslušnými médii. Vytváříme optimální mediální přítomnost s ohledem na firemní cíle.  Zvyšujeme porozumění o produktech,službách i samotné firmě. Hledáme zajímavá témata, navrhujeme a realizujeme konkrétní formy prezentace, pomáháme vytvářet a vyprávět příběhy firem a jejich výrobků</p>
            </div>
          </div>
        </div>
        </div>

        <a role="button" data-toggle="collapse" href="#msx8" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Produktová komunikace" src="/sites/default/files/rf/battery-icon.png" />
              <p><h3>Produktová komunikace</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

        <div class="row b-b">
        <div class="collapse" id="msx8">
          <div class="well-med">
            <div class="inner-wl">
              <h4>Zajistíme, aby zákazníci znali a preferovali vaše výrobky či služby</h4>
              <p>Spotřebitelé jsou zahlceni stále větším množstvím méně originálních reklamních sdělení, a nejen proto účinnost klasické reklamy klesá. K zajištění stejného účinku jsou firmy nuceny vynakládat stále větší náklady na nákup médií. My disponujeme řadou nástrojů, které levněji a kreativněji budují vztah spotřebitele ke konkrétní značce. Umíme vytvořit dlouhodobý příběh, který oslovuje zákazníky přímou komunikací, prostřednictvím internetu, a má potenciál dostat se i do relevantních médií. Při vytváření produktových PR strategií jsme zvyklí úzce spolupracovat s agenturami, které zajišťují další složky marketingového mixu.</p>
            </div>
          </div>
        </div>
        </div>

      </div>

     <div class="row">

        <a role="button" data-toggle="collapse" href="#msx9" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="HR Marketing a Employer Branding" src="/sites/default/files/rf/peoples-icon.png" />
              <p><h3>HR Marketing a Employer Branding</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

       <div class="row b-b">
       <div class="collapse" id="msx9">
         <div class="well-med">
           <div class="inner-wl">
             <h4>Budování značky atraktivního zaměstnavatele (Employer Branding)</h4>
             <p>Budování značky zaměstnavatele a nábor kvalitních zaměstnanců jsou tématem číslo jedna pro většinu našich klientů. Firmám pomáháme šířit jejich dobrou pověst směrem k potenciálním zaměstnancům – ať už formou budování kariérních stránek, komunikací v médiích, online prezentací či vhodným využitím sociálních sítí. Řešíme, jak zaměstnance motivovat a aktivně je zapojovat do šíření dobré pověsti firem, protože i oni jsou hlavními nositeli značky dobrého zaměstnavatele.</p>
           </div>
         </div>
       </div>
       </div>

        <a role="button" data-toggle="collapse" href="#msx10" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Interní komunikace" src="/sites/default/files/rf/home-icon.png" />
              <p><h3>Interní komunikace</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

       <div class="row b-b">
       <div class="collapse" id="msx10">
         <div class="well-med">
           <div class="inner-wl">
             <h4>Pomůžeme zvýšit loajalitu a angažovanost vašich zaměstnanců</h4>
             <p>Dobří manažeři věnují pozornost tomu, aby zaměstnanci byli na firmu hrdí a aby fámy a klepy nebyly hlavním zdrojem informovanosti. Naše PR agentura má za sebou celou řadu úspěšných projektů interní komunikace pro nejrůznější typy společností. Vytvoříme komplexní strategii interní komunikace vaší společnosti, zrealizujeme interní průzkumy názorů, pomůžeme vám s vydáváním vašeho zaměstnaneckého časopisu, navrhneme obsah intranetu či realizujeme celou řadu motivačních soutěží pro vaše zaměstnance.</p>
           </div>
         </div>
       </div>
       </div>

        <a role="button" data-toggle="collapse" href="#msx11" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Online komunikace" src="/sites/default/files/rf/globe-icon.png" />
              <p><h3>Online komunikace</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

       <div class="row b-b">
       <div class="collapse" id="msx11">
         <div class="well-med">
           <div class="inner-wl">
             <h4>S námi budete na internetu jako doma</h4>
             <p>Internet je největší revolucí v oblasti komunikace od vynálezu knihtisku. Mít oficiální webové stránky dnes již nestačí, čím dál větší důraz je kladen na účinný dialog se zákazníky. Nástroje v podobě sociálních sítí, blogů a diskusních fór proměnily konzumenty reklamy v angažované mluvčí,kteří dnes již nejsou pouze pasivními příjemci sdělení, ale naopak aktivně navzájem ovlivňují své chování a názory. Chcete-li se prosadit ve světě on-line komunikace, měli byste svým klientům nejen naslouchat, ale i s nimi aktivně komunikovat.  Naši specialisté na digitální marketing vám pomohou doručit sdělení té správné cílové skupině prostřednictvím správného média a v ten pravý čas. Zároveň se postaráme o vaši reputaci napříč všemi on-line kanály. Pomůžeme s optimalizací vašich webových stránek pro vyhledávače (SEO). Klíčovými parametry pro navrhované marketingové strategie jsou pro nás vždy přesné zacílení, efektivní komunikace a měřitelný výsledek v relevantním čase.</p>
           </div>
         </div>
       </div>
       </div>

        <a role="button" data-toggle="collapse" href="#msx12" aria-expanded="false" aria-controls="collapseExample">
          <div class="col-sm-6 col-md-3">
            <div class="service"><img alt="Mediální trénink" src="/sites/default/files/rf/hand-icon.png" />
              <p><h3>Mediální trénink</h3><span class="but">&nbsp;</span></p>
            </div>
          </div>
        </a>

       <div class="row b-b">
       <div class="collapse" id="msx12">
         <div class="well-med">
           <div class="inner-wl">
             <h4>Naučíme vás komunikovat s médii</h4>
             <p>Média jsou důležitým nástrojem firemní komunikace a mají zásadní vliv na to, zda veřejnost firmu zná a co si o ní myslí. Pro naše klienty jsme v minulosti zorganizovali desítky tisíc kontaktů se zástupci médií, ať už se jednalo o tiskové zprávy, odborné články, rozhovory či tiskové konference. Každý zástupce společnosti, který ji reprezentuje v médiích, by měl vědět, jak média fungují a jak s nimi co nejlépe a efektivně komunikovat. Prostřednictvím teoretického i praktického tréninku vás naučíme, jak novináři předat nejlépe vaše sdělení, jak reagovat na ne vždy příjemné dotazy médií a jak vytěžit z komunikace s médii pro vaši společnost maximum.</p>
           </div>
         </div>
       </div>
       </div>

      </div>

    </div>

    <div class="desktop-only">
    <div class="row">

      <a role="button" data-toggle="collapse" href="#sx1" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Komunikační strategie" src="/sites/default/files/rf/chat-icon.png" />
            <p><h3>Komunikační strategie</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx2" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Komunikační kampaně" src="/sites/default/files/rf/fleshlight-icon.png" />
            <p><h3>Komunikační kampaně</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx3" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Content management" src="/sites/default/files/rf/message-icon.png" />
            <p><h3>Content management</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

    <a role="button" data-toggle="collapse" href="#sx4" aria-expanded="false" aria-controls="collapseExample">
      <div class="col-sm-6 col-md-3">
        <div class="service"><img alt="Firemní komunikace" src="/sites/default/files/rf/fir_kom.png" />
          <p><h3>Firemní komunikace</h3><span class="but">&nbsp;</span></p>
        </div>
      </div>
    </a>
    </div>

    <div class="row b-b">

      <div class="collapse" id="sx1">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Vytváříme účinné strategie k dosažení Vašich komunikačních cílů</h4>
            <p>Rozdílné komunikační cíle vyžadují rozdílná řešení. Dobré komunikační strategie pomáhají prodávat,umožňují získat a udržet špičkové zaměstnance, nebo třeba snížit riziko konfliktů se zájmovými skupinami, které mají na Vaše podnikání vliv. Na základě obchodních a podnikatelských záměrů pomáháme našim klientům definovat jejich komunikační cíle,analyzovat prostředí i cílové skupiny pro komunikaci  a navrhujeme vhodné strategie. </p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx2">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Vytváříme a realizujeme komunikační kampaně přesně na míru Vašim potřebám</h4>
            <p>Jsme lídrem v koncipování a realizaci komunikačních kampaní, které mění postoje a chování veřejnosti. Ať už je cílem Vaší komunikace stimulace celkové poptávky, změna chování zákazníků nebo třeba získání veřejné podpory  pro úpravu legislativy regulující Váš sektor podnikání, navrhneme Vám celkový koncept kampaně, design jejích jednotlivých prvků a zajistíme realizaci všech kreativních řešení.</p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx3">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Vyprávíme příběhy našich zákazníků</h4>
            <p>Vyprávění silných příběhů je nejlepším způsobem, jak si v dnešním přeinformovaném světě získat skutečnou pozornost lidí. Dobrý příběh vytváří emocionální zapojení a vede spotřebitele k zaujetí stanoviska a následné akci. Hledáme mimořádné příběhy. Hledáme cesty a aktivity, jak je co nejlépe vytěžit pro naše zákazníky. Vyprávíme příběhy prostřednictvím všech relevantních kanálů a pomáháme organizacím,aby se příběh stal nedílnou součástí jejich života.</p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx4">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Pomáháme firmám budovat a rozvíjet vztahy se všemi skupinami partnerů a decision makerů</h4>
            <p>Budování a rozvoj vztahů s různými externími stakeholdery vyžadují pochopení jejich zájmů a očekávání a následnou Maximalizujeme přínosy vnějších vztahů tím, že pomáháme a vedou rozvoj strategií a akčních plánů, od informačních kampaní až po řízení vztahů.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <a role="button" data-toggle="collapse" href="#sx5" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Krizová komunikace" src="/sites/default/files/rf/sound-icon.png" />
            <p><h3>Krizová komunikace</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx6" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Reputation management" src="/sites/default/files/rf/rep_rizik.png" />
            <p><h3>Reputation management</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx7" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Media relations" src="/sites/default/files/rf/sound-icon.png" />
            <p><h3>Media relations</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx8" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Produktová komunikace" src="/sites/default/files/rf/battery-icon.png" />
            <p><h3>Produktová komunikace</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>
    </div>

    <div class="row b-b">

      <div class="collapse" id="sx5">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Pomáháme klientům zvládnout krizovou situaci s minimálními dopady na jejich pověst</h4>
           <p>Špatně řízená krize může zničit roky budovanou pověst vaší organizace za jediný den. Pomáháme klientům předcházet krizím, připravovat se na ně, reagovat na ně a komunikovat o nich. S našimi klienty jsme úspěšně prošli již desítkami větších či menších krizových situací a víme, jak je v rovině komunikace správně řešit.  Máme řadu zkušeností s přípravou krizových komunikačních plánů, tréninkem managementu či organizováním krizových simulací. A když ke krizové situaci skutečně dojde, pomáháme ji zvládat v reálném čase prostřednictvím naší 24/7 krizové linky a zkušeného krizového týmu, který je na tento typ práce speciálně vyškolený a připravený.
             <br>
             Potřebujete pomoc právě teď? Volejte naší 24/7 krizovou linku: +420603574650 </p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx6">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Budování pověsti a řízení reputačních rizik </h4>
            <p>V době sociálních sítí, zvýšené angažovanosti jejich uživatelů  a extrémně rychlého sdílení informací mezi lidmi se otázka dobré pověsti  stala významnější, než kdykoliv předtím. Vaše pověst dnes může výrazně pomoci k dosažení obchodních cílů, nebo  jejich naplnění naopak  zcela znemožnit. Máme širokou škálu služeb, které vám pomohou při budování vaší reputace na místní i celorepublikové úrovni. Pro naše zákazníky navrhujeme a realizujeme dlouhodbé komunikační programy zaměřené na posílení dobré pověsti a omezení reputačních rizik. V těchto programech integrujeme tradiční média i sociální sítě. Pomůžeme Vám identifikovat hlavní opinion makery a navázat s nimi nejvhodnější způsob komunikace. </p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx7">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Pomáháme klientům efektivně využívat média pro jejich komunikační potřeby</h4>
            <p>Zajišťujeme efektivní prezentaci v hromadných sdělovacích prostředcích a budujeme dlouhodobé vztahy s příslušnými médii. Vytváříme optimální mediální přítomnost s ohledem na firemní cíle.  Zvyšujeme porozumění o produktech,službách i samotné firmě. Hledáme zajímavá témata, navrhujeme a realizujeme konkrétní formy prezentace, pomáháme vytvářet a vyprávět příběhy firem a jejich výrobků</p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx8">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Zajistíme, aby zákazníci znali a preferovali vaše výrobky či služby</h4>
            <p>Spotřebitelé jsou zahlceni stále větším množstvím méně originálních reklamních sdělení, a nejen proto účinnost klasické reklamy klesá. K zajištění stejného účinku jsou firmy nuceny vynakládat stále větší náklady na nákup médií. My disponujeme řadou nástrojů, které levněji a kreativněji budují vztah spotřebitele ke konkrétní značce. Umíme vytvořit dlouhodobý příběh, který oslovuje zákazníky přímou komunikací, prostřednictvím internetu, a má potenciál dostat se i do relevantních médií. Při vytváření produktových PR strategií jsme zvyklí úzce spolupracovat s agenturami, které zajišťují další složky marketingového mixu.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <a role="button" data-toggle="collapse" href="#sx9" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="HR Marketing a Employer Branding" src="/sites/default/files/rf/peoples-icon.png" />
            <p><h3>HR Marketing a Employer Branding</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx10" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Interní komunikace" src="/sites/default/files/rf/home-icon.png" />
            <p><h3>Interní komunikace</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx11" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Online komunikace" src="/sites/default/files/rf/globe-icon.png" />
            <p><h3>Online komunikace</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>

      <a role="button" data-toggle="collapse" href="#sx12" aria-expanded="false" aria-controls="collapseExample">
        <div class="col-sm-6 col-md-3">
          <div class="service"><img alt="Mediální trénink" src="/sites/default/files/rf/hand-icon.png" />
            <p><h3>Mediální trénink</h3><span class="but">&nbsp;</span></p>
          </div>
        </div>
      </a>
    </div>

    <div class="row b-b">

      <div class="collapse" id="sx9">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Budování značky atraktivního zaměstnavatele (Employer Branding)</h4>
            <p>Budování značky zaměstnavatele a nábor kvalitních zaměstnanců jsou tématem číslo jedna pro většinu našich klientů. Firmám pomáháme šířit jejich dobrou pověst směrem k potenciálním zaměstnancům – ať už formou budování kariérních stránek, komunikací v médiích, online prezentací či vhodným využitím sociálních sítí. Řešíme, jak zaměstnance motivovat a aktivně je zapojovat do šíření dobré pověsti firem, protože i oni jsou hlavními nositeli značky dobrého zaměstnavatele.</p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx10">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Pomůžeme zvýšit loajalitu a angažovanost vašich zaměstnanců</h4>
            <p>Dobří manažeři věnují pozornost tomu, aby zaměstnanci byli na firmu hrdí a aby fámy a klepy nebyly hlavním zdrojem informovanosti. Naše PR agentura má za sebou celou řadu úspěšných projektů interní komunikace pro nejrůznější typy společností. Vytvoříme komplexní strategii interní komunikace vaší společnosti, zrealizujeme interní průzkumy názorů, pomůžeme vám s vydáváním vašeho zaměstnaneckého časopisu, navrhneme obsah intranetu či realizujeme celou řadu motivačních soutěží pro vaše zaměstnance.</p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx11">
        <div class="well-med">
          <div class="inner-wl">
            <h4>S námi budete na internetu jako doma</h4>
            <p>Internet je největší revolucí v oblasti komunikace od vynálezu knihtisku. Mít oficiální webové stránky dnes již nestačí, čím dál větší důraz je kladen na účinný dialog se zákazníky. Nástroje v podobě sociálních sítí, blogů a diskusních fór proměnily konzumenty reklamy v angažované mluvčí,kteří dnes již nejsou pouze pasivními příjemci sdělení, ale naopak aktivně navzájem ovlivňují své chování a názory. Chcete-li se prosadit ve světě on-line komunikace, měli byste svým klientům nejen naslouchat, ale i s nimi aktivně komunikovat.  Naši specialisté na digitální marketing vám pomohou doručit sdělení té správné cílové skupině prostřednictvím správného média a v ten pravý čas. Zároveň se postaráme o vaši reputaci napříč všemi on-line kanály. Pomůžeme s optimalizací vašich webových stránek pro vyhledávače (SEO). Klíčovými parametry pro navrhované marketingové strategie jsou pro nás vždy přesné zacílení, efektivní komunikace a měřitelný výsledek v relevantním čase.</p>
          </div>
        </div>
      </div>

      <div class="collapse" id="sx12">
        <div class="well-med">
          <div class="inner-wl">
            <h4>Naučíme vás komunikovat s médii</h4>
            <p>Média jsou důležitým nástrojem firemní komunikace a mají zásadní vliv na to, zda veřejnost firmu zná a co si o ní myslí. Pro naše klienty jsme v minulosti zorganizovali desítky tisíc kontaktů se zástupci médií, ať už se jednalo o tiskové zprávy, odborné články, rozhovory či tiskové konference. Každý zástupce společnosti, který ji reprezentuje v médiích, by měl vědět, jak média fungují a jak s nimi co nejlépe a efektivně komunikovat. Prostřednictvím teoretického i praktického tréninku vás naučíme, jak novináři předat nejlépe vaše sdělení, jak reagovat na ne vždy příjemné dotazy médií a jak vytěžit z komunikace s médii pro vaši společnost maximum.</p>
          </div>
        </div>
      </div>

    </div>
    </div>

</div>
</div>
{% else %}
  {{ title_prefix }}
  {% if label %}
    <h2 class="block-title">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="block-inner">
    <p class="text-align-center uprclas">&nbsp;</p>

    <div class="services container-fluid" id="services">
      <h3 class="block-title text-align-center">Wide range of services</h3>

      <p class="margin-helper text-align-center"></p>

      <div class="mobile-only">
        <div class="row">

          <a role="button" data-toggle="collapse" href="#msx1" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Communication strategy" src="/sites/default/files/rf/chat-icon.png" />
                <p><h3>Communication strategy</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx1">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We develop effective strategies to accomplish you communication goals.</h4>

                  <p>Different communication goals require different solutions. A good communication strategy will increase your revenue, enable you to hire and retain great employees or lower the risk of conflicts with interest groups that could influence your business. Based on commercial and business interests, we help our clients define their communication goals,analyse the environment and interest groups for communication and develop an appropriate strategy.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx2" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Communication campaigns" src="/sites/default/files/rf/fleshlight-icon.png" />
                <p><h3>Communication campaigns</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx2">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We develop and execute communication campaigns suited to your needs</h4>

                  <p>We're a business leader in creating and executing communication campaigns that will help influence public opinion and behaviour. Whether the goal of your communication is to increase your revenue, influence the behaviour of customers or even gain public support for a legislative change in your sector of business – we will develop an overall concept of the campaign, design of its elements and ensure the execution of all creative solutions.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx3" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Content management" src="/sites/default/files/rf/message-icon.png" />
                <p><h3>Content management</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx3">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We tell the stories of our clients</h4>

                  <p>Telling strong stories is one of the best ways to gain real attention in today's hyper-connected world. A good story creates an emotional investment and leads the consumer to assume a stance and take action. We look for extraordinary stories. We search for avenues and activities that will help us achieve the maximum effect for our clients. We tell stories through all relevant channels and we help organizations embrace the story as an inseparable part of their lives.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx4" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Corporate communication" src="/sites/default/files/rf/fir_kom.png" />
                <p><h3>Corporate communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx4">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We help companies build and develop relationships with all groups of partners and decision makers.</h4>

                  <p>Building and developing relationships with different external stakeholders requires understanding of their interests and expectations. We maximize the benefits of external relations by developing strategies and action plans, from information campaigns to relations management.</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">


          <a role="button" data-toggle="collapse" href="#msx5" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Crisis communication" src="/sites/default/files/rf/sound-icon.png" />
                <p><h3>Crisis communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx5">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We help our clients manage a crisis situation with minimal impact on their reputation</h4>

                  <p>A poorly managed crisis can ruin your company's years of carefully built reputation in a single day. We help clients prevent, prepare for, react to and respond to crises. We have successfully passed dozens of major and minor crisis situations with our clients and we know how to successfully solve them on a communication level. We have a wealth of experience with preparing crisis communication plans, management training or organizing crisis simulations. And when an actual crisis happens,we help you manage it in real time with the help of our 24/7 crisis hotline and an experienced crisis management team, specially trained and prepared for this type of work.<br />
                    Do you need immediate help? Call our 24/7 crisis hotline at 603 574 650.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx6" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Reputation management" src="/sites/default/files/rf/rep_rizik.png" />
                <p><h3>Reputation management</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx6">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>Reputation building and reputation risk management</h4>

                  <p>In the era of social networks,increased user engagement and extremely rapid sharing of information among the general public, the issue of good reputation has become more significant than ever. Your reputation can greatly contribute to achieving your business goals or, on the contrary,make it impossible to fulfill them. We have a wide range of services that will help you with building your reputation on a local or nationwide level. We design and implement long-term communication programs focused on enhancing good repution and limiting reputational risks. In these programs, we integrate traditional media and social networks. We can help you identify the main opinion makers and establish the most appropriate way of communicating with them.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx7" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Media relations" src="/sites/default/files/rf/sound-icon.png" />
                <p><h3>Media relations</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx7">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We help clients use media effectively to suit their communication needs.</h4>

                  <p>We provide effective mass media presentations and build long-term relationships with relevant media. We create optimal media presence with respect to corporate goals. We increase the public's understanding of products, services and the company itself. We look for interesting topics, design and implement specific forms of presentation, help create and tell stories about companies and their products.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx8" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Product Communication" src="/sites/default/files/rf/battery-icon.png" />
                <p><h3>Product Communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx8">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We ensure that customers know and prefer your products or services</h4>

                  <p>Consumers are overwhelmed by an increasing number of less original advertising messages, as a result, the effectiveness of classic advertising is decreasing. To ensure a similar result, companies are forced to spend more and more on media purchases. We have a range of tools to build a consumer relationship with a particular brand cheaper and with more creativity. We can create a long-term story that reaches customers through direct communication, over the Internet, and has the potential to reach the relevant media. When creating PR product strategies, we are used to working closely with agencies that provide other components of the necessary marketing mix.</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <a role="button" data-toggle="collapse" href="#msx9" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="HR Marketing and Employer Branding" src="/sites/default/files/rf/peoples-icon.png" />
                <p><h3>HR Marketing and Employer Branding</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx9">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>Building an Employer Branding</h4>

                  <p>Building an employer brand and recruiting quality employees is the number one issue for most of our clients. We help companies spread their good reputation towards potential employees - whether by building career pages,communicating in the media, online presentations, or using social networks. We deal with employee motivation and actively engage them in the dissemination of corporate reputation because they are the main bearers of a good employer brand.<br />
                    We design and implement a communications campaign tailored to your business' specific needs to help reach the right potential employees and get them to an interview with your HR manager.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx10" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Internal Communication" src="/sites/default/files/rf/home-icon.png" />
                <p><h3>Internal Communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx10">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We help increase your employees' loyalty and commitment</h4>

                  <p>Good managers pay attention to employees being proud of the company and not letting rumors and gossip be the main source of information. Our PR agency has completed a number of successful internal communication projects for various types of companies. We will create a comprehensive internal communication strategy for your company, carry out internal opinion surveys, help you publish your employee magazine,design intranet content, or implement a range of motivational contests for your employees.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx11" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Online Communication" src="/sites/default/files/rf/globe-icon.png" />
                <p><h3>Online Communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx11">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>With us you will feel right at home on the Internet</h4>

                  <p>The Internet is the greatest revolution in communication since the invention of printing press. Having an official website is no longer enough, and more and more emphasis is being placed on effective dialogue with customers. Social networking tools, blogs, and discussion forums have turned consumers into committed spokespersons who are no longer just passive recipients of the message, but are actively influencing each other's behavior and opinions. If you want to promote yourself in the world of online communication, you should not only listen to your clients but also actively communicate with them. Our digital marketing specialists will help you deliver the message to the right target audience through the right media and at the right time. At the same time, we will take care of your reputation across all online channels. We will help improve your search engine optimization (SEO). The key parameters for the proposed marketing strategies are always the exact targeting, effective communication and measurable result at the relevant time.</p>
                </div>
              </div>
            </div>
          </div>

          <a role="button" data-toggle="collapse" href="#msx12" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Media training" src="/sites/default/files/rf/hand-icon.png" />
                <p><h3>Media training</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <div class="row b-b">
            <div class="collapse" id="msx12">
              <div class="well-med">
                <div class="inner-wl">
                  <h4>We will teach you to communicate with the media</h4>

                  <p>Media are an important tool for corporate communication and have a major impact on whether the public is aware of and has opinions about the company. For our clients, we have provided tens of thousands of contacts with media representatives in the past, be it press releases, articles,interviews or press conferences. Every company representative who represents it in the media should know how media work and how to communicate with them as effectively as possible. Through both theoretical and practical training, we will teach you how to best convey your message to journalists, how to respond to unpleasant media inquiries and how to make the most out of media communication for your company.</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="desktop-only">
        <div class="row">

          <a role="button" data-toggle="collapse" href="#sx1" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Communication strategy" src="/sites/default/files/rf/chat-icon.png" />
                <p><h3>Communication strategy</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx2" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Communication campaigns" src="/sites/default/files/rf/fleshlight-icon.png" />
                <p><h3>Communication campaigns</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx3" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Content management" src="/sites/default/files/rf/message-icon.png" />
                <p><h3>Content management</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx4" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Corporate communication" src="/sites/default/files/rf/fir_kom.png" />
                <p><h3>Corporate communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>
        </div>

        <div class="row b-b">

          <div class="collapse" id="sx1">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We develop effective strategies to accomplish you communication goals.</h4>

                <p>Different communication goals require different solutions. A good communication strategy will increase your revenue, enable you to hire and retain great employees or lower the risk of conflicts with interest groups that could influence your business. Based on commercial and business interests, we help our clients define their communication goals,analyse the environment and interest groups for communication and develop an appropriate strategy.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx2">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We develop and execute communication campaigns suited to your needs</h4>

                <p>We're a business leader in creating and executing communication campaigns that will help influence public opinion and behaviour. Whether the goal of your communication is to increase your revenue, influence the behaviour of customers or even gain public support for a legislative change in your sector of business – we will develop an overall concept of the campaign, design of its elements and ensure the execution of all creative solutions.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx3">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We tell the stories of our clients</h4>

                <p>Telling strong stories is one of the best ways to gain real attention in today's hyper-connected world. A good story creates an emotional investment and leads the consumer to assume a stance and take action. We look for extraordinary stories. We search for avenues and activities that will help us achieve the maximum effect for our clients. We tell stories through all relevant channels and we help organizations embrace the story as an inseparable part of their lives.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx4">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We help companies build and develop relationships with all groups of partners and decision makers.</h4>

                <p>Building and developing relationships with different external stakeholders requires understanding of their interests and expectations. We maximize the benefits of external relations by developing strategies and action plans, from information campaigns to relations management.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <a role="button" data-toggle="collapse" href="#sx5" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Crisis communication" src="/sites/default/files/rf/sound-icon.png" />
                <p><h3>Crisis communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx6" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Reputation management" src="/sites/default/files/rf/rep_rizik.png" />
                <p><h3>Reputation management</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx7" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Media relations" src="/sites/default/files/rf/sound-icon.png" />
                <p><h3>Media relations</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx8" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Product Communication" src="/sites/default/files/rf/battery-icon.png" />
                <p><h3>Product Communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>
        </div>

        <div class="row b-b">

          <div class="collapse" id="sx5">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We help our clients manage a crisis situation with minimal impact on their reputation</h4>

                <p>A poorly managed crisis can ruin your company's years of carefully built reputation in a single day. We help clients prevent, prepare for, react to and respond to crises. We have successfully passed dozens of major and minor crisis situations with our clients and we know how to successfully solve them on a communication level. We have a wealth of experience with preparing crisis communication plans, management training or organizing crisis simulations. And when an actual crisis happens,we help you manage it in real time with the help of our 24/7 crisis hotline and an experienced crisis management team, specially trained and prepared for this type of work.<br />
                  Do you need immediate help? Call our 24/7 crisis hotline at 603 574 650.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx6">
            <div class="well-med">
              <div class="inner-wl">
                <h4>Reputation building and reputation risk management</h4>

                <p>In the era of social networks,increased user engagement and extremely rapid sharing of information among the general public, the issue of good reputation has become more significant than ever. Your reputation can greatly contribute to achieving your business goals or, on the contrary,make it impossible to fulfill them. We have a wide range of services that will help you with building your reputation on a local or nationwide level. We design and implement long-term communication programs focused on enhancing good repution and limiting reputational risks. In these programs, we integrate traditional media and social networks. We can help you identify the main opinion makers and establish the most appropriate way of communicating with them.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx7">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We help clients use media effectively to suit their communication needs.</h4>

                <p>We provide effective mass media presentations and build long-term relationships with relevant media. We create optimal media presence with respect to corporate goals. We increase the public's understanding of products, services and the company itself. We look for interesting topics, design and implement specific forms of presentation, help create and tell stories about companies and their products.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx8">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We ensure that customers know and prefer your products or services</h4>

                <p>Consumers are overwhelmed by an increasing number of less original advertising messages, as a result, the effectiveness of classic advertising is decreasing. To ensure a similar result, companies are forced to spend more and more on media purchases. We have a range of tools to build a consumer relationship with a particular brand cheaper and with more creativity. We can create a long-term story that reaches customers through direct communication, over the Internet, and has the potential to reach the relevant media. When creating PR product strategies, we are used to working closely with agencies that provide other components of the necessary marketing mix.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <a role="button" data-toggle="collapse" href="#sx9" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="HR Marketing and Employer Branding" src="/sites/default/files/rf/peoples-icon.png" />
                <p><h3>HR Marketing and Employer Branding</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx10" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Internal Communication" src="/sites/default/files/rf/home-icon.png" />
                <p><h3>Internal Communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx11" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Online Communication" src="/sites/default/files/rf/globe-icon.png" />
                <p><h3>Online Communication</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>

          <a role="button" data-toggle="collapse" href="#sx12" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-sm-6 col-md-3">
              <div class="service"><img alt="Media Training" src="/sites/default/files/rf/hand-icon.png" />
                <p><h3>Media Training</h3><span class="but">&nbsp;</span></p>
              </div>
            </div>
          </a>
        </div>

        <div class="row b-b">

          <div class="collapse" id="sx9">
            <div class="well-med">
              <div class="inner-wl">
                <h4>Building an Employer Branding</h4>

                <p>Building an employer brand and recruiting quality employees is the number one issue for most of our clients. We help companies spread their good reputation towards potential employees - whether by building career pages,communicating in the media, online presentations, or using social networks. We deal with employee motivation and actively engage them in the dissemination of corporate reputation because they are the main bearers of a good employer brand.<br />
                  We design and implement a communications campaign tailored to your business' specific needs to help reach the right potential employees and get them to an interview with your HR manager.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx10">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We help increase your employees' loyalty and commitment</h4>

                <p>Good managers pay attention to employees being proud of the company and not letting rumors and gossip be the main source of information. Our PR agency has completed a number of successful internal communication projects for various types of companies. We will create a comprehensive internal communication strategy for your company, carry out internal opinion surveys, help you publish your employee magazine,design intranet content, or implement a range of motivational contests for your employees.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx11">
            <div class="well-med">
              <div class="inner-wl">
                <h4>With us you will feel right at home on the Internet</h4>

                <p>The Internet is the greatest revolution in communication since the invention of printing press. Having an official website is no longer enough, and more and more emphasis is being placed on effective dialogue with customers. Social networking tools, blogs, and discussion forums have turned consumers into committed spokespersons who are no longer just passive recipients of the message, but are actively influencing each other's behavior and opinions. If you want to promote yourself in the world of online communication, you should not only listen to your clients but also actively communicate with them. Our digital marketing specialists will help you deliver the message to the right target audience through the right media and at the right time. At the same time, we will take care of your reputation across all online channels. We will help improve your search engine optimization (SEO). The key parameters for the proposed marketing strategies are always the exact targeting, effective communication and measurable result at the relevant time.</p>
              </div>
            </div>
          </div>

          <div class="collapse" id="sx12">
            <div class="well-med">
              <div class="inner-wl">
                <h4>We will teach you to communicate with the media</h4>

                <p>Media are an important tool for corporate communication and have a major impact on whether the public is aware of and has opinions about the company. For our clients, we have provided tens of thousands of contacts with media representatives in the past, be it press releases, articles,interviews or press conferences. Every company representative who represents it in the media should know how media work and how to communicate with them as effectively as possible. Through both theoretical and practical training, we will teach you how to best convey your message to journalists, how to respond to unpleasant media inquiries and how to make the most out of media communication for your company.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
